In [4]:
a=range(1,4)
print(list(a))

[1, 2, 3]

In [6]:
b=range(1,10,2)
print(list(b))

[1, 3, 5, 7, 9]

In [14]:
list1=[1,2,3,4,5]
print(list1)
list2=["香蕉","蘋果","橘子"]
print(list2[0])
print(list2[1])
print(list2[2])
list3=[1,"香蕉",2,"apples","True"]
print(list3)
print(list3[1])
print(list3[3])
print(list3[-1])
print(list3[-2])
print(list3[-3])

[1, 2, 3, 4, 5]
香蕉
蘋果
橘子
[1, '香蕉', 2, 'apples', 'True']
香蕉
apples
True
apples
2

In [16]:
list5=[["tom","123"],["joey","456"],["sam","789"]]
print(list5[0])
print(list5[0][1])
print(list5[1])
print(list5[2])

['tom', '123']
123
['joey', '456']
['sam', '789']

In [27]:
list4=["國文成績: 85分","數學成績: 79分","英文成績: 93分"]
print(list4[0])
print(list4[1])
print(list4[2])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [29]:
list1=["香蕉","蘋果","橘子"]
for i in list1:
    print(i,end=",")

香蕉,蘋果,橘子,

In [31]:
list2=[123,"apple","True"]
for i in list2:
    print(i,end=",")

123,apple,True,

In [33]:
score=[85,79,93]
print(len(score))

3

In [36]:
scores=[85,79,93]
for i in range(len(scores)):
    print(scores[i])

85
79
93

In [40]:
a=["國文成績","英文成績","數學成績"]
scores=[85,79,93]
for i in range(len(a)):
    print(a[i],":",scores[i])

國文成績 : 85
英文成績 : 79
數學成績 : 93

In [41]:
a=[1,2,3]
name=["Tom","Mary","Tony"]
for i in range(len(a)):
    print("編號:",a[i] ,"姓名:",name[i])

編號: 1 姓名: Tom
編號: 2 姓名: Mary
編號: 3 姓名: Tony

In [50]:
a=input().split()
for i in range(len(a)-1,-1,-1):
    print(a[i],end=" ")

cake banana apple

In [51]:
a=input().split()
b=int(a[0])
c=int(a[1])
d=int(a[2])
for i in range(b,c,d):
    print(i,end=",")

0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,

In [52]:
a=input().split()
b=int(a[0])
c=int(a[1])
d=int(a[2])
e=range(b,c,d)
print(list(e))

[3, 4, 5, 6, 7]